/* buttons css */
.btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 0.5em;
}
.btn-rounded {
    border-radius: 5px;
}
.bg-blue {
    color: white;
    background-color: var(--color-blue); 
}
.bg-blue:hover {
    background-color: var(--color-light-blue);
}