/* buttons css */
:root{
    --btn-bg-color: #2f4a85;
    /*not working because it doesn't target root in scoped*/
    --btn-hover-color: #384ba1;
}
.btn-custom {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 0.5em;
}
.btn-rounded {
    border-radius: 5px;
}
.bg-blue {
    color: white;
    background-color: var(--sidebar-bg-color); 
    /*since sidebar root isn't scoped, should replace and rename these vars in app
    probably, since it would make sense for root to be non-scoped there instead*/
    /* background-color: #2f4a85; */
}
.bg-blue:hover {
    background-color: var(--sidebar-item-hover);
    /* background-color: #384ba1; */
}