/* css for the components --> Modules 1 and 2 to show that I can in fact 
put them into a separate file */
h3 {
  margin: 40px 0 0;
  }
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}